html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el body ocupe toda la altura de la ventana */
    overflow:auto; /* Evita barras de desplazamiento innecesarias */
    
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./img/espacio_2560x1440_xtrafondos.com.jpg'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda el área del fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen en su lugar cuando se desplaza el contenido */
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-size: 1rem;

}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Color de fondo semi-transparente */
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}

.header-left {
    flex: 1;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    max-height: 100px; /* Ajusta el tamaño máximo del logo */
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

.header-right a:hover {
    text-decoration: underline;
}

.header-right .fa-shopping-cart {
    font-size: 1.5rem; /* Tamaño del ícono */
}

main {
    padding: 2rem;
}



html, body {
    height: 100%; /* Asegura que el html y body ocupen el 100% del alto */
    margin: 0; /* Elimina márgenes */
    padding: 0; /* Elimina padding */
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Hace que el main ocupe todo el espacio disponible entre header y footer */
    padding: 2rem;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        font-size: large;
        padding: 1px;
    }
    .header-left h1{
        margin:1rem 1px 1px 1px;
    }
    .header-center {
        position: static; /* Resetea la posición para móviles */
        transform: none;
        margin: 1px 1px; /* Espacio entre el título y el logo */
    }

    .header-right {
        font-size:large;
        margin-top: 1rem;
        width: 100%; /* Asegura que la navegación ocupe todo el ancho */
        justify-content: center; /* Alinea la navegación al centro en pantallas pequeñas */
        margin: 1px;
    }

    .header-right a {
        display: block;
        margin: 1rem 1%;
    }

}


/* Estilos generales del formulario */
form {
    background-color: rgba(46, 43, 43, 0.699); /* Fondo blanco semi-transparente */
    border-radius: 8px; /* Bordes redondeados */
    padding: 2rem; /* Espaciado interno */
    max-width: 600px; /* Ancho máximo */
    margin: 2rem auto; /* Centra el formulario horizontalmente y agrega margen superior e inferior */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    color: rgba(255, 255, 255, 0.733);
    font-size: 1rem;
    text-align: center; /* Centra el texto del formulario */
    text-decoration: none; /* Quita la negrita del texto del enlace */
    letter-spacing:1px; /* Espaciado entre letras */
    
}

label {
    display: block; /* Cada etiqueta ocupa toda la línea */
    margin-bottom: 0.5rem; /* Espacio debajo de cada etiqueta */
    font-weight: bold; /* Texto en negrita */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Ancho completo */
    padding: 0.75rem; /* Espaciado interno */
    margin-bottom: 1rem; /* Espacio debajo de cada campo */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye padding y border en el ancho total del elemento */
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 0.75rem 1.5rem; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 1rem; /* Tamaño del texto */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

button:hover {
    background-color: #01366e; /* Color de fondo al pasar el ratón sobre el botón */
}

@media (max-width: 768px) {
    form {
        padding: 1rem; /* Menos espaciado interno en pantallas pequeñas */
    }

    button {
        width: 100%; /* Botón de ancho completo en pantallas pequeñas */
    }
}



footer {
    background: linear-gradient(to right, rgba(51, 51, 51, 0.2) 20%, rgba(51, 51, 51, 1) 90%);
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 98%;
}



.contacto-content {
    display: flex;
    justify-content: space-between; /* Alinea los divs uno al lado del otro */
    width: 98%; 
}

.contacto-info {
    text-align: right; /* Centra el texto del contenido de contacto */
    flex: 1; /* Toma el espacio disponible */
    margin-right: 2rem; /* Espacio a la derecha entre el contenido de contacto y el minimapa */
}

.contacto h1 {
    margin: 0 0 1rem 0; /* Espacio debajo del título */
}

.contacto ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contacto ul li {
    margin-bottom: 0.5rem; /* Espacio entre los ítems de la lista */
}

.google-maps {
    width: 300px; /* Ajusta el ancho del contenedor del minimapa */
    display: flex;
    justify-content: center;
}

.google-maps iframe {
    width: 100%;
    height: 160px; /* Ajusta la altura del minimapa */
    border: 0;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contacto-content {
        flex-direction: column;
        align-items: center;
    }

    .contacto-info {
        margin-right: 0;
        margin-bottom: 1rem; /* Espacio debajo del contenido de contacto en pantallas pequeñas */
    }

    .google-maps {
        width: 100%;
    }
}
.contacto-info a {
    color: #fff; /* Color blanco para el texto del enlace */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Texto en negrita */
}

.contacto-info a:hover {
    color: #8a2be2; /* Color violeta para el texto al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
}